extends layout

block title
	title Node Authentication
block style
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	style.
		body        { padding-top:80px; }

block content
	div(class="container")
		div(class="col-sm-6 col-sm-offset-3")
			h1
				span(class="fa fa-sign-in") Login
			form(action="/login" method="post")
				input(type="hidden", name="_csrf", value="#{csrftoken}")
				div(class="form-group")
					lobel Email
					input(type="text" class="form-control" name="email")
				div(class="form-group")
					label Password
					input(type="password" class="form-control" name="password")
				button(type="submit" class="btn btn-warning btn-lg") Login
			hr
			p Need an account? 
				a(href="/signup") Signup
			p Or go 
				a(href="/") Home
