extends layout

block title
	title Node Authentication
block style
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	style.
		body        { padding-top:80px; }

block content
	header(id="header")
	section
	div(class="container")
		div(class="col-sm-6 col-sm-offset-3")
			if errors
				each error in errors
					p.error= error.msg
			h1
				span(class="fa fa-sign-in") Signup
			//<% if (message.length > 0) { %>
			//	<div class="alert alert-danger"><%= message %></div>
			//<% } %>  { message: req.flash('signupMessage') }
			form(action="/signup" method="post")
				div(class="form-group")
					lobel Email
					input(type="text" class="form-control" name="email")
				div(class="form-group")
					label Password
					input(type="password" class="form-control" name="password")
				button(type="submit" class="btn btn-warning btn-lg") Signup
			hr
			p Need an account? 
				a(href="/login") Login
			p Or go 
				a(href="/") Home
	footer(id="footer")
